<!doctype html>
<html lang="en">

<head>

    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="/static/jquery.js"></script>
        <script src="/static/bootstrap.js"></script>
        <script src="/static/bootstrap-select.js"></script>
        <script type="module" src="/static/zero-md.min.js"></script>
        <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet" />
        <link type="text/css" href="/static/css/bootstrap-select.css" rel="stylesheet" />
        <link rel="stylesheet" href="/static/css/materialize.min.css">
        <link href="/static/css/icon.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href='/static/css/main.css' />
        <title>Login</title>
    </head>
</head>

<body>
    <ul id="home-slide-out" class="side-nav">
        <li>
            <div class="user-view">
                <div class="row">
                    <div class="row" style="margin-bottom: 0;">
                        <div class="col s9 push-s3">
                            <h4 style="font-size: 22px; text-align: left; margin: 0; margin-top: 10px;">Gradiance
                            </h4>
                            <!-- <p>Your own bookshelf.</p> -->
                        </div>
                        <div class="col s1 pull-s10">
                            <img class="circle" style="background-color: black;" src="/static/favicon.png" alt="logo">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Developed by the TheCodingJ's</a></li>
        <footer class="page-footer">
            <div class="container" style="padding: 0;">
                <p class="grey-text text-lighten-4" style="line-height: 15px;">For questions, comments, or
                    concerns about this serivce please email:<a
                        href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container" style="padding: 0;">
                    © 2024 TheCodingJ'software
                </div>
            </div>
        </footer>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo center" style="font-size: 20px;">Gradiance</a>
            <ul id="nav-mobile" class="left">
                <li><a data-activates="home-slide-out" class="waves-effect waves-light btn-flat home-button-collapse"
                        style="padding: 0;"><i class="material-icons" style="font-size: 36px;">menu</i></a></li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <h1 style="text-align: center;">Login</h1>
        <div class="input-field col s12">
            <form action="/login" method="post">
                <input class="login-input" type="text" name="username" placeholder="username" />
                <button class="waves-effect waves-light btn" id="login" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
<script src="/static/materialize.min.js"></script>
<script src="/static/script.js"></script>
</html>