<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta property="og:title" content="[[ STUDENT_NAME ]]" />
    <meta property="og:description" content="Studnet report card for [[ STUDENT_NAME ]]." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="[[ JQUERY_JS ]]"></script>
    <script src="[[ BOOTSTRAP_SELECT_JS ]]"></script>
    <script src="[[ BOOTSTRAP_JS ]]"></script>
    <script src="[[ MATERIALIZE_JS ]]"></script>
    <script src="[[ MAIN_JS ]]"></script>
    <link rel="stylesheet" href="[[ BOOTSTRAP_SELECT_CSS ]]">
    <link rel="stylesheet" href="[[ BOOTSTRAP_CSS ]]">
    <link rel="stylesheet" href="[[ ICON_CSS ]]">
    <link rel="stylesheet" href="[[ MATERIALIZE_CSS ]]">
    <link rel="stylesheet" href="[[ MAIN_CSS ]]">
    <link rel="stylesheet" href="[[ INTER_CSS ]]">
    <title>[[ STUDENT_NAME ]]</title>
</head>


<body>
    <div class="content">
        <div class="student">
            [[ STUDENT ]]
        </div>
        <div class="page-break"></div>
        <div class="tables">
            [[ TABLES ]]
        </div>
    </div>
</body>

</html>